<h2 mat-dialog-title>Confirmacion</h2>  

<mat-dialog-content class="mat-typography">  

  <p>¿Está seguro de eliminar el Registro?</p>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Si</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="false">No</button>
</mat-dialog-actions>
