.container{
    max-width: 100%;
    margin: 20px auto;  
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:"vacio"
                        "title"
                        "body"
                        "footer";
}

.title{
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 30px 0;
}

.title__letters{
    font-size: 150%;
    font-weight: 700
}

.body{
    grid-area: body;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 32px;
    width: 100%;
}

.table__cell{
    border: 1px solid rgba(0,0,0,.12);  
    text-align: center;  
}

.table__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

