<div class="container">
  <span class="title">
    <span class="title__letters">LISTADO TEST</span>
    <span class="title__letters">ALICORD</span>
  </span>
  <span class="body">
    <table>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acción</th>
      </tr>
      <ng-template ngFor let-i="index" let-episode [ngForOf]="listData">
        <tr *ngIf=" pageEvent.pageIndex * pageEvent.pageSize <= i  && i < pageEvent.pageIndex * pageEvent.pageSize + pageEvent.pageSize">
          <td class = "table__cell">{{episode.id}}</td>
          <td class = "table__cell">{{episode.name}}</td>
          <td class = "table__cell">{{episode.url}}</td>
          <td class = "table__cell">
            <button mat-flat-button color="warn" (click)="eliminar(episode)">
              Eliminar
            </button>
          </td>
        </tr>
      </ng-template>     
    </table>
    <span class="table__footer">
      <mat-paginator 
      [length]="listData.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="pageEvent = $event">
    </mat-paginator>
    </span>
  </span>
  
</div>